.carousel__stage {
  overflow: hidden;
  * {box-sizing: border-box;} 
}
.carousel__container {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  position: relative;
}
.carousel__item {
  float: left;
  height: 200px;
  width: 400px;
  background: #f3f3f3;
  &:nth-child(1){background-color: #eee;}
  &:nth-child(2){background-color: #ddd;}
  &:nth-child(3){background-color: #ccc;}
  &:nth-child(4){background-color: #bbb;}
  &:nth-child(5){background-color: #aaa;}
}
.carousel__controls {
  list-style-type: none;
  text-align: center;
  > li {display: inline-block;}
}