.carousel {
  overflow: hidden;
  * {
    box-sizing: border-box;
  }
}
.carousel__container {
  margin: 1em 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
}
.carousel__slide {
  float: left;
  flex: 0 0 auto;
  width: 100%;
  background: #f3f3f3;
  padding: 2em;
  &:nth-child(1) {
    background-color: darkorange;
  }
  &:nth-child(2) {
    background-color: darkcyan;
    width: 300px;
    height: 300px;
  }
  &:nth-child(3) {
    background-color: darkgreen;
  }
  &:nth-child(4) {
    background-color: darksalmon;
    width: 500px;
  }
  &:nth-child(5) {
    background-color: darkolivegreen;
  }
}
.carousel__controls {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  > li {
    display: inline-block;
  }
  [aria-disabled="true"] {
    opacity: 0.5;
  }
}
.carousel__pager {
  list-style-type: none;
  margin: 1em 0;
  padding: 0;
  text-align: center;
  > li {
    display: inline;
  }
  button {
    background: #999;
    border: 0;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    margin: 0 1em;
    padding: 0;
    &.current {
      background-color: darkcyan;
    }
    span {
      position: absolute !important;
      height: 1px;
      width: 1px;
      overflow: hidden;
      clip: rect(1px, 1px, 1px, 1px);
      white-space: nowrap; /* added line */
    }
  }
}
.carousel__progress {
  height: 0.5em;
  background: #eee;
  div {height: 100%; width:0%; background: darkslategray;}
}

.carousel__container--grabbing {
  cursor: grabbing;
}


.carousel__slide.gray {background-color: #aaa;}
.carousel__slide.yellow {background-color: tan;}
.carousel__slide.blue {background-color: lightblue;}
.carousel__slide.red {background-color: darkred;}
.carousel__slide.cyan {background-color: darkcyan;}