{% extends "./partials/_template.twig" %}
{% block main %} 
<div class="carousel">
    <ul class="carousel__slider">
        {% for item in carousel %} 
        <li class="carousel__item">
            <p>{{loop.index}} {{item.heading}}</p>  
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}